body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.wrapper {
	background-color: #FDF6E3;
	height: 100vh;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline-block;
}


header .col-md-12 {
	background: #444;
	overflow: hidden;
	height: 40px;
	position: relative;
}

header .col-md-12 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	left: 50%;
	float: left;
	font: 14px Arial, Helvetica, sans-serif;
	position: relative;
}

header .col-md-12 ul li {
	left: -50%;
	float: left;
	margin: 0 10px;
	height: 40px;
	position: relative;
}

header .col-md-12 ul li a {
	color: #fff;
	display:block;
	text-decoration:none;
	padding:0 15px;
	line-height: 40px;
}

header .col-md-12 ul li a:hover {
	background-color:#666; 
}

#rectangle {
	margin-top: 100px;
	width: 1170px;
	height: 700px;
	background-color: #4D483A;
	border-radius: 25px;
	text-align: center;
}

.content img {
	margin-top: 20px;
}

.content i {
	float: right;
	margin-top: 300px;
	margin-right: 20px;
	margin-left: 0;
	color: #fff;
}

.content ul {
	position: relative;
	margin-top: 30px;
}

.content li a {
	border: 1px solid #000;
	box-shadow: 0 0 7px #666;
	padding: 15px;
	color: #000;
	text-align: center;
}

.content li a:hover {
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}


