.buttons {
	margin-top: 250px;
}

.buttons button, 
button:active, 
button:focus {
    outline: none;
}

.buttons button {
	height: 100px;
	width: 250px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 5px 0 5px 0;

	/*background: #1e5799;
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #7db9e8 100%); 
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#7db9e8 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );*/
	background-color: #4D483A;
	border: none;
	border-radius: 5px;
	color: #FDF6E3;
	font-weight: bold;
}

.buttons button:active {
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}